{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<h1 class="h3 mb-4">Dashboard</h1>

<div class="row g-4">
  <div class="col-md-3">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <h5 class="card-title">Bugungi buyurtmalar</h5>
        <p class="card-text fs-4">{{ today_orders }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-success">
      <div class="card-body">
        <h5 class="card-title">Yangi mijozlar</h5>
        <p class="card-text fs-4">{{ new_customers }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-warning">
      <div class="card-body">
        <h5 class="card-title">Kutilayotgan buyurtmalar</h5>
        <p class="card-text fs-4">{{ pending_orders }}</p>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-danger">
      <div class="card-body">
        <h5 class="card-title">Bekor qilinganlar</h5>
        <p class="card-text fs-4">{{ cancelled_orders }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
